<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.mapper.BoardMapper">
	
	<insert id="addBoard">
		insert into board_tb(board_title,board_regdate,board_content,user_id)
		values(#{board_title},now(),#{board_content},#{user_id})
	</insert>
	
	<select id="getBoardList" resultType="com.ssafy.happyhouse.dto.BoardDto">
		select * from board_tb order by board_regdate desc
	</select>
	
	<update id="updateCnt">
		update board_tb
		set board_count = board_count + 1
		where board_no = #{no}
	</update>
	
	<select id="getBoard" resultType="com.ssafy.happyhouse.dto.BoardDto">
		select *
		from board_tb
		where board_no = #{no}
	</select>
	
	<update id="updateBoard">
		update board_tb
		set board_title = #{board_title}, board_content = #{board_content}
		where board_no = #{board_no}
	</update>
	
	<delete id="deleteBoard">
		delete from board_tb where board_no = #{no}
	</delete>

</mapper>