<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.mapper.UserMapper">
	
	<select id="selectUser" resultType="com.ssafy.happyhouse.dto.UserDto">
		select * from user_tb where user_id = #{user_id}
	</select>
	<select id="count" resultType="int"> 
		select count(*) from user_tb
	</select>
	<select id="duplicateCheck" resultType="int">
		select count(*) from user_tb where user_id = #{user_id}
	</select>
	
	<insert id="addUser">
		insert into user_tb(user_id,user_pass) 
		values (#{user_id},#{user_pass})	
	</insert>
	
	<insert id="addPreference" parameterType="com.ssafy.happyhouse.dto.UserDto">
		insert into preference_tb(user_id,convenience_name) 
			values
		<foreach collection="checkedPrefers" item="item" separator=",">
		(#{user_id},#{item.convenience_name})
		</foreach>
	</insert>
	
	<delete id="deletePreference">
		delete from preference_tb where user_id = #{user_id}
	</delete>
	
	<update id="updateUser">
		update user_tb
		set user_pass = #{user_pass}
		where user_id = #{user_id}
	</update>
	
	
	<select id="getUserInfo" resultMap="userInfo">
		select user_id from user_tb where user_id = #{user_id};
	</select>
	
	<select id="preference" resultType="com.ssafy.happyhouse.dto.PreferenceDto">
		select convenience_name from preference_tb where user_id =#{user_id};
	</select>
	
	<resultMap type="com.ssafy.happyhouse.dto.UserDto" id="userInfo">
		<result property="user_id" column="user_id"/>
		<collection property="checkedPrefers" column="user_id" javaType="list" ofType="com.ssafy.happyhouse.dto.PreferenceDto" select="preference"/>
	</resultMap>
	
	
</mapper>